body{
  background-color: #1C2F57;
}

.image-container {
  margin-top: 3vh;
  text-align: center;
}

/* SearchBar Styles */
.searchbar{
  margin-top: 1.4vh;
  margin-bottom: 1.4vh;
}

.searchbar-container {
  margin-top: 3vh;
  background-color: #2D4F83;
}

/* Offices Styles */

.office-container {
  margin-top: 3vh;
  min-height: 5em;
  padding: 1vh;
}

.online{
  background: #2D4F83;
  color: #fff;
}

.offline{
  background: #E2E2E2;
  color: #8B8B8B;
}

.footer-online{
  background: #00B886;
}

.footer-offline{
  background: #8B8B8B;
}

.office-footer {
  color: #fff;
  min-height: 1em;
}

.user {
  padding-left: 2em;
  width: 150%;
}




